<div class="row">
    <div class="side col">
        <div class="header">
            Top News Today for Sarah Hum
        </div>
        {{#view "App.SidebarView" tagName="ul" classNames="articles"}}
            {{#each article in articles}}
                <li {{action "open" article}}>
                    {{article.title}}
                </li>
            {{/each}}
        {{/view}}
    </div>
    {{#view "App.ArticleView" classNameBindings=":main :col articles.activeArticle:visible"}}
        {{#if articles.activeArticle}}
            <button {{action "dismiss"}} class="mobile-dismiss">></button>
            <h1>
                {{articles.activeArticle.title}}
            </h1>

            {{articles.activeArticle.body}}

            <div class="endbar">
                Did you like this article?
                <span class="yes"></span>
                <span class="yes-top"></span>
                <span class="no"></span>
                <span class="no-top"></span>
            </div>
        {{else}}
            :(
        {{/if}}
    {{/view}}
</div>
