<div class="row">
    <div class="side col">
        <div class="header">
            <a href="/"><img class="logo" src="../images/logo-white.svg"/></a>
            Today's Top Reads for
            {{#if user}}
                {{user.name}}
            {{else}}
                Everyone
                <div class="logged-out"><a href="/" {{action "login"}}>SIGNUP</a> to get reads tailored for you</div>
            {{/if}}
        </div>

        {{#view "App.SidebarView" controllerBinding="articles" tagName="ul" classNames="articles"}}
            {{#each article in content}}
                <li {{action "open" article}}>
                    <div class="item-title">{{article.title}}</div>
                    <div class="item-meta">{{article.source}}</div>
                </li>
            {{/each}}
        {{/view}}
    </div>

    {{#view "App.ArticleView" controllerBinding="articles" classNameBindings=":main :col articles.mobileVisible:visible"}}
        {{#if activeArticle}}
            <button {{action "dismiss"}} class="mobile-dismiss">></button>
            <h1>
                {{activeArticle.title}}
            </h1>
            <div class="meta">
                <span class="author">{{activeArticle.author}}</span> | <span class="date">{{timestamp activeArticle.date format="lll"}}</span>
            </div>

            <div class="article-body">
                {{{activeArticle.body}}}
            </div>

            <div class="endbar">
                Did you like this article?
                <span {{bind-attr class=":vote :yes activeArticle.liked:clicked"}} {{action "like" activeArticle}}></span>
                <span {{bind-attr class=":vote-top :yes activeArticle.liked:clicked"}} {{action "like" activeArticle}}></span>
                <span {{bind-attr class=":vote :no activeArticle.disliked:clicked"}} {{action "dislike" activeArticle}}></span>
                <span {{bind-attr class=":vote-top :no activeArticle.disliked:clicked"}} {{action "dislike" activeArticle}}></span>
            </div>
        {{else}}
            :(
        {{/if}}
    {{/view}}
</div>
