<div class="row">
    <div class="side col">
        <div class="header">
            Top News Today for Sarah Hum
        </div>
        {{#view "App.SidebarView" controllerBinding="articles" tagName="ul" classNames="articles"}}
            {{#each article in content}}
                <li {{action "open" article}}>
                    {{article.title}}
                </li>
            {{/each}}
        {{/view}}
    </div>

    {{#view "App.ArticleView" controllerBinding="articles" classNameBindings=":main :col articles.mobileVisible:visible"}}
        {{#if activeArticle}}
            <button {{action "dismiss"}} class="mobile-dismiss">></button>
            <h1>
                {{activeArticle.title}}
            </h1>

            {{activeArticle.body}}

            <div class="endbar">
                Did you like this article?
                <span class="vote yes"></span>
                <span class="vote-top yes" {{action "like" activeArticle}}></span>
                <span class="vote no"></span>
                <span class="vote-top no" {{action "dislike" activeArticle}}></span>
            </div>
        {{else}}
            :(
        {{/if}}
    {{/view}}
</div>
