<div class="row">
    <div class="side col">
        <div class="header">
            Top News Today for Sarah Hum
        </div>
        {{#view "App.SidebarView" controllerBinding="articles" tagName="ul" classNames="articles"}}
            {{#each article in content}}
                <li {{action "open" article}}>
                    {{article.title}}
                </li>
            {{/each}}
        {{/view}}
    </div>

    {{#view "App.ArticleView" controllerBinding="articles" classNameBindings=":main :col articles.mobileVisible:visible"}}
        {{#if activeArticle}}
            <button {{action "dismiss"}} class="mobile-dismiss">></button>
            <h1>
                {{activeArticle.title}}
            </h1>
            <div class="meta">
                <span class="author">{{activeArticle.author}}</span> | <span class="date">{{activeArticle.date}}</span>
            </div>

            {{{activeArticle.body}}}

            <div class="endbar">
                Did you like this article?
                <span {{bind-attr class=":vote :yes activeArticle.liked:clicked"}} {{action "like" activeArticle}}></span>
                <span {{bind-attr class=":vote-top :yes activeArticle.liked:clicked"}} {{action "like" activeArticle}}></span>
                <span {{bind-attr class=":vote :no activeArticle.disliked:clicked"}} {{action "dislike" activeArticle}}></span>
                <span {{bind-attr class=":vote-top :no activeArticle.disliked:clicked"}} {{action "dislike" activeArticle}}></span>
            </div>
        {{else}}
            :(
        {{/if}}
    {{/view}}
</div>
